body{
    position: relative;
    font-family: system-ui;
}
h2{
    margin-top: 50px;
    text-align: center;
}

.tic{
    
    height: 60vh;
    display: flex;
}

.tic table{
    margin: auto;
    background: #14bdac;

    color: white;
    
}
.turn{
    background-color: #3ff38a;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: rgb(9, 9, 9);
    padding: 5px;
}
.tic table td{
    height: 70px;
    width: 40px;
    font-size: 50px;
    padding: 5px 25px;
    outline: auto;
}