body{
    position: relative;
    font-family: system-ui;
}
h2{
    margin-top: 50px;
    text-align: center;
}

.tic{
    
    height: 60vh;
    display: flex;
}

.tic .board{
    margin: auto;
    background: #14bdac;

    color: white;
    
}
 .turn{
    
    background: #fff;
    max-width: 400px;;
    color: #000;
    text-align: center;
    margin: auto;
    
    
}
.turn .message{
    
    background: rgb(187, 187, 187);
    padding: 10px;
    color: #000;
    
}
.topbar{
    background-color: #3ff38a;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: rgb(9, 9, 9);
    padding: 5px;
}
.tic table td{
    height: 70px;
    width: 40px;
    font-size: 50px;
    padding: 5px 25px;
    outline: auto;
}


.entry-form {
    background:rgb(76 75 75);
    padding: 100px;
    max-width: 370px;
    margin: 50px auto 0 auto;
}

.entry-form form{
    margin: auto;
    text-align: center;
}

.entry-form input{
    padding: 10px;
    font-size: 16px;
   
}

.hide{
    display: none;
}